.mt-3 {
    width: 500px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: 'Prompt', sans-serif;
    box-shadow: 0 2px 8px rgba(0, 0, 0.1, 0.1);
}
thead {
    background-color: #f1f1f1;
}

th, td {
    padding: 12px 16px;
    border: 1px solid #ddd;
}

th {
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #eef6ff;
}

a {
    text-decoration: none;
}
/* a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
} */
/*
 .card {
    width: 1000px;
}

@media (max-width: 768px) {
    .card {
    width: auto;
}
} */